  <nav class="navbar navbar-expand-md navbar-light ">
    <a class="navbar-brand" style="color:#ab191a; font-weight: 600;font-size: 3rem;" href="/">DD<span style="color:black;">X</span></a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
    </button>
       
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <div class="d-flex">
            <form class="form-inline my-2 mx-auto col-6" method="GET" action="/search" >
                <input class="searchterm form-control" style='width:100%;' name = "searchterm" type="text" placeholder="Search">
            </form>
        
        <ul style='font-weight: 600; font-size:1.5rem;' class="navbar-nav mt-2 mt-lg-0">
            
            <li class="nav-item ">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
            </li>
            <%if(currentUser){%>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
            <%}else{%>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            
            <%}%>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Action 1</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart"> <span class="material-icons">MyCart</span>
                </a>
            </li>
          
        </ul>
    </div>
       
    </div>
</nav>

<!-- 
<nav class="navbar sticky-top navbar-expand-md navbar-light mb-4 align-items-start d-flex ">
    <a class="navbar-brand" href="/" style='font-size: 25px;'><b style='color:#ab191a'>Tom</b><b>ato</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse align-items-start"  id="navbarSupportedContent">
        <div class="d-flex">
      <ul class="navbar-nav mx-auto col-6">
        <form class="form-inline my-2 my-lg-0 formsearch" style='min-width:100%;'>
            <input class="form-control searchRest mr-sm-2"style='min-width:100%;box-shadow: 8px 8px 1px 1px rgba(0, 0, 255, .2);' type="search" placeholder="Search" aria-label="Search">
            <div class='searchResults mt-3'style='box-shadow: 0px 2px 24px 0px rgba(153, 153, 153, 0.416);'></div>
        </form>
        
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Signup</a>
          </li>
      </ul>
    </div>
    </div>
  </nav> -->





<%- include('flash') %>

  
