
  <nav class="navbar navbar-expand-sm navbar-light" style="background-color: rgba(0, 0, 0, 0.308);">
    <a class="navbar-brand" href="/">DDX</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
            </li>
            <%if(currentUser){%>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
            <%}else{%>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <%}%>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Action 1</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart"> <span class="material-icons">MyCart</span>
                </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="GET" action="/search" >
            <input class="searchterm form-control ml-auto mr-sm-2" name = "searchterm" type="text" placeholder="Search">
            <button type="submit" class="btn-sm btn-light my-2 my-sm-0 search"><b>Search</b></button>
        </form>
    </div>
</nav>
<%- include('flash') %>

  
