<link rel="stylesheet" href="/stylesheets/search.css" type="text/css">
<div class="sticky-top">
    


  <nav class="navbar navbar-expand-md navbar-light" style="background:white;">
    <a class="navbar-brand" style="color:#ab191a; font-weight: 600;font-size: 3rem;" href="/">DD<span style="color:black;">X</span></a>
    <button class="navbar-toggler d-lg-none ml-auto mx-lg-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
    </button>
       
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <div class="d-flex">
            <form autocomplete='off' class="form-inline my-2 mx-auto col-6 formsearch" method="GET" action="/search" >
                <input class="searchterm form-control" style='width:100%;' name = "searchterm" type="text" placeholder="Search">
                <div class='searchResults mt-3'style='box-shadow: 0px 2px 24px 0px rgba(153, 153, 153, 0.416);'></div>
            </form>
        
        <ul style='font-weight: 600; font-size:1.4rem;' class="navbar-nav mt-2 mt-lg-0">
            
            <li class="nav-item ">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
            </li>
            <%if(currentUser){%>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <%if(currentUser.isSeller){%>
                        <a class="nav-link" href="/profile">Profile</a>    
                    <%}else{%>
                        <a class="nav-link" href="/user/orders">My Orders</a>
                    <%}%>
                </li>
            <%}else{%>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            
            <%}%>
            
            <li id="dropdownMain" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Categories
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/products/category/t-shirts">T-shirts</a></li>
                    <li><a class="dropdown-item" href="/products/category/lower">Lower</a></li>
                    <li><a class="dropdown-item" href="/products/category/shirts">Shirts</a></li>
                    <li><a class="dropdown-item" href="/products/category/latest">New Arivals</a></li>
                    <li><a class="dropdown-item" href="/products/category/sweatshirts">Sweatshirts</a></li>
                    <li><a class="dropdown-item" href="/products/category/jackets">Jackets</a></li>
                    <li><a class="dropdown-item" href="/products/category/sweaters">Sweaters</a></li>
                    <li><a class="dropdown-item" href="/products/category/shoes">Shoes</a></li>
                                            
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart"> <span class="material-icons">MyCart</span>
                </a>
            </li>
          
        </ul>
    </div>
       
    </div>
</nav>

</div>


<script src='http://localhost:3000/js/search.js'></script>



<%- include('flash') %>


  
