<%-include('../partials/header')%>
<%-include('../partials/navbar')%>

<div class="container">

  <table class="table">
    <tr class="table-active">
      <th>Image</th>
      <th>Name</th>
      <th>Is Delivered</th>
      <th>Change delivery Status</th>
      <th>Show more</th>

    </tr>
    
  
  </table>

</div>

<div class="_35va4c"><a class="_3dshlq" href="/order_details?order_id=OD120931049728908000&amp;item_id=12093104972890800&amp;unit_id=12093104972890800000"><div class="row"><div class="col-6-12"><div class="row"><div class="col-3-12"><div class="_3hQhLv"><div class="CXW8mj" style="height: 75px; width: 75px;"><img class="_396cs4  _3exPp9" alt="" src="https://res.cloudinary.com/arpityadav/image/upload/w_150/v1614418525/DDX/bdozr2qgvfbgcbf2jn2s.jpg"></div></div></div><div class="col-8-12"><div class="_1hVBfR"><span class="row _1kkfO3 BqOr_g">Numero Uno Tapered Fit Men Dark Blue Jea...</span><div class="row _65ZkAB"><span class="_3dOR_a"><span class="_65ZkAB">Color: </span><span class="-igymY">Dark Blue</span></span><span class="_3dOR_a"><span class="_65ZkAB">Size: </span><span class="-igymY">32</span></span><span class="_3dOR_a"></span></div><div class="row _65ZkAB"><span class="_65ZkAB _1uABhR">Seller: </span><span class="-igymY">RetailNet</span></div></div></div></div></div><div class="col-2-12 _1_SN5_">₹858<span> + <img src="" class="_2gMSIb">46</span></div><div class="col-4-12 pq5Jer"><div><div class="_3SbeKb _2cm2Hi"></div><span class="AO0UbU">Delivered on Feb 06</span><div class="_30gI7w">Your item has been delivered</div></div><div class="_18fmpV"></div><div class="_2yfTUY"><div class="_1dnpZA row"><a class="Efhm0G"><img src="" class="_1dki8b col-1-5"><span class="_2YpB-X col-3-5">Rate &amp; Review Product</span></a></div></div></div></div></a></div>


<%-include('../partials/footer')%>
