<%-include('partials/header')%>
<%-include('partials/navbar')%>
<link rel="stylesheet" href="/stylesheets/home.css">

<div class='carousel'>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>

    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://images.unsplash.com/photo-1566876402521-d67fec6fba48?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">First Slide</h2>
          <p class="lead">This is a description for the first slide.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1565127453543-ad97bbbba30d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Second Slide</h2>
          <p class="lead">This is a description for the second slide.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1523381210434-271e8be1f52b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Third Slide</h2>
          <p class="lead">This is a description for the third slide.</p>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1560243563-062bfc001d68?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')">
        <div class="carousel-caption d-none d-md-block">
          <h2 class="display-4">Fourth Slide</h2>
          <p class="lead">This is a description for the fourth slide.</p>
        </div>
      </div>
      
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</div>

<!-- Page Content -->


<div style="color:#ab191a;text-align: center; font-weight: 400;" class='display-3 mt-5'>Cate<span style="color:black">gories</span > </div>



<div class="container-fluid mt-5">
<section class="grid-tile-wrapper">
  <div class="grid-tile-item big">
    <h3>Save 20% on all Tiltaing full cages & handles</h3>
    <img src="https://i2.wp.com/tilta.com/wp-content/uploads/2018/11/Tiltaing-Camera-Cage-for-BMPCC-4K6K-Advanced-Kit-TA-T01-FCC-A_front_Legacy-2.jpg?zoom=2&resize=560%2C560&ssl=1"></div>
  <div class="grid-tile-item wide">
    <h3>15% off everything else Tiltaing</h3> <img src="https://i2.wp.com/tilta.com/wp-content/uploads/2018/11/Basic-Package-B-Tactical-TA-T01-B.jpg?w=600&h=600&ssl=1"></div>
  <div class="grid-tile-item wide">
    <h3>Up to 50% off the Gravity G2X Gimbal System</h3><img src="https://i0.wp.com/tilta.com/wp-content/uploads/2019/08/nanobundle-scaled.jpg?zoom=2&h=600&w=600&ssl=1"> </div>
  <div class="grid-tile-item wide"><img src="https://i2.wp.com/tilta.com/wp-content/uploads/2019/09/Partial-I_Legacy-2.jpg?w=600&h=600&ssl=1">
    <h5>Save 15% off Nucleus-M</h5>
  </div>
  <div class="grid-tile-item wide"><img src="https://i0.wp.com/tilta.com/wp-content/uploads/2018/09/Nano-Kit-Legacy-2.jpg?w=600&h=600&ssl=1">
    <h5>Save 15% off Nucleus-Nano</h5>
  </div>
  <div class="grid-tile-item big"><img src="https://tilta.com/wp-content/uploads/2019/11/hammer.png">
    <h3>Tilta Black Friday Giveaway</h3>
  </div>
  <div class="grid-tile-item big">
    <h3>First Prize: BMPCC 6K Camera</h3><img src="https://tilta.com/wp-content/uploads/2019/11/bmpcc.png"></div>
  <div class="grid-tile-item wide">
    <h5>2nd Prize: SWIT 7" HDR Monitor</h5><img src="https://tilta.com/wp-content/uploads/2019/11/swit.png"></div>
  <div class="grid-tile-item wide"><img src="https://tilta.com/wp-content/uploads/2019/11/vaxis.png">
    <h5>3rd Prize: Vaxis Atom 500 Wireless Video System</h5>
  </div>

</section>
</div>




<%-include('partials/footer')%>