<%-include('partials/header')%>
<%-include('partials/navbar')%>
<link rel='stylesheet' type='text/css' href='/stylesheets/cart.css'>
<div class='container'>
<form action="/products" method='get'>
 
<h1 class='mb-5'>Shopping Cart</h1>

<div class="shopping-cart">

  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">0.00</div>
    </div>
    <div class="totals-item">
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">0.00</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">0.00</div>
    </div>
  </div>
      
      <button class="checkout">Shop for products</button>

</div>
</form>
</div>
