.g-div{
  margin: 0;
  padding: 0;
  height: 100%;
}


.g_body{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.g-button{
  border: 1px solid rgb(66, 133, 244);
  background: rgb(66, 133, 244);
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
}

.g-logo{
  width: 21px;
  height: 21px;
  padding: 8px 10px;
  background: white;
  margin: 0;
  padding: 0;
  height: 100%;
}

.g-text{
  font-size: 16px;
  padding: 8px 10px;
  color: white;
  font-family: roboto;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
}